@import url("https://fonts.googleapis.com/css?family=Meie+Script|Shadows+Into+Light|Arvo|Monda");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", */
  /* "Droid Sans", "Helvetica Neue", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

hr {
  display: block;
  margin: 0 20%;
  height: 3px;
  background: #000000;
}

button {
  transition: all 0.2s ease-in-out !important;
}

label {
  transition: all 0.2s ease-in-out !important;
}

input {
  border: 1px solid rgb(0, 0, 0) !important;
  transition: all 0.2s ease-in-out !important;
}

input:focus {
  box-shadow: 0px 0px 0px 2px #dc3545 !important;
  border: 1px solid rgb(0, 0, 0) !important;
}

.header-text {
  font-size: 1.5rem;
  font-family: "Shadows Into Light", cursive;
  font-weight: 700;
  color: #dc3545;
}

.corners-fix {
  border-radius: 0 0.25rem 0.25rem 0 !important;
}

.grid {
  display: grid !important;
  grid-template-columns: 10% auto !important;
}

.action-icons {
  width: 20px;
  height: 20px;
  padding: 1px;
  margin: 0 3px;
  cursor: pointer;
}

.action-icons:hover {
  fill: #dc3545;
}

#deleteBook {
  display: none;
}

.delete-popin {
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 350px;
  padding: 10px;
  text-align: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.25rem;
}

.delete-popin .btn {
  margin: 0 5px;
}

.back {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: #00000041;
}

#editForm {
  display: none;
}

#addForm {
  display: block;
}

.coverImg {
  margin: 10px auto;
  width: 50px;
  height: 75px;
  object-fit: cover;
}

.custom-file-upload {
  border: 1px solid rgb(0, 0, 0);
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border: 1px solid #dc3545;
  color: #dc3545;
  border-radius: 0 !important;
}

.custom-file-upload:hover {
  background-color: #dc3545;
  color: white;
}

input[type="file"] {
  display: none;
}

.cover-text-fix div {
  align-self: center;
}

.cancel-btn-border-fix {
  border-left: 0;
  border-right: 0;
}
